# Version Control
.git
.gitignore

# Python / UV (Recursive)
**/.venv
**/.venv*
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/uv.lock.old

# Ambyte CLI Local Artifacts (Recursive)
**/.ambyte
**/dist
**/build
**/egg-info
**/*.egg-info

# Local IDE settings
**/.vscode
**/.idea

# Large temporary files
**/*.log
**/*.pdf
**/tmp